*{
    margin: 0;
    padding: 0;
}



td{
    background-color: pink;
    /* border: 1px solid pink; */
    height: 5px;
    width: 5px;
}

table{
    background-color: black;
    /* width: 200px; */
    /* height: 200px; */
    /* border: 1px solid black; */
    border-spacing: 2px;
    /* table-layout: fixed; */
}

